
.idea/workspace.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Gradle__org_xerial_sqlite_jdbc_3_20_1_jar.xml
.idea/libraries/Gradle__org_xerial_sqlite_jdbc_3_16_1_jar.xml
.idea/libraries/Gradle__org_reactivestreams_reactive_streams_1_0_0_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_3_30_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_30_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_30_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_30_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_3_30_jar.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/Gradle__org_antlr_antlr4_4_5_3_jar.xml
.idea/libraries/Gradle__me_eugeniomarletti_kotlin_metadata_kotlin_metadata_1_4_0_jar.xml
.idea/libraries/Gradle__me_eugeniomarletti_kotlin_metadata_kotlin_compiler_lite_1_0_3_k_1_2_40_jar.xml
.idea/libraries/Gradle__junit_junit_4_12_jar.xml
.idea/libraries/Gradle__io_reactivex_rxjava2_rxjava_2_0_6_jar.xml
.idea/libraries/Gradle__commons_codec_commons_codec_1_10_jar.xml
.idea/libraries/Gradle__com_squareup_javapoet_1_8_0_jar.xml
.idea/libraries/Gradle__com_jakewharton_butterknife_annotations_8_8_1_jar.xml
.idea/libraries/Gradle__com_jakewharton_butterknife_8_8_1_aar.xml
.idea/libraries/Gradle__com_google_guava_guava_18_0_jar.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_0_jar.xml
.idea/libraries/Gradle__com_google_auto_auto_common_0_6_jar.xml
.idea/libraries/Gradle__com_android_support_viewpager_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_versionedparcelable_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_transition_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_transition_26_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_swiperefreshlayout_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_26_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_v4_26_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_media_compat_26_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_fragment_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_fragment_26_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_fragment_26_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_26_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_26_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_26_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_26_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_compat_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_compat_26_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_compat_26_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_annotations_28_0_0_jar.xml
.idea/libraries/Gradle__com_android_support_support_annotations_26_0_1_jar.xml
.idea/libraries/Gradle__com_android_support_support_annotations_26_0_0_jar.xml
.idea/libraries/Gradle__com_android_support_slidingpanelayout_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_recyclerview_v7_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_recyclerview_v7_26_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_print_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_multidex_instrumentation_1_0_2_aar.xml
.idea/libraries/Gradle__com_android_support_multidex_1_0_3_aar.xml
.idea/libraries/Gradle__com_android_support_multidex_1_0_2_aar.xml
.idea/libraries/Gradle__com_android_support_localbroadcastmanager_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_loader_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_interpolator_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_drawerlayout_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_documentfile_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_design_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_design_26_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_customview_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_cursoradapter_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_coordinatorlayout_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_solver_1_0_2_jar.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_0_2_aar.xml
.idea/libraries/Gradle__com_android_support_collections_28_0_0_jar.xml
.idea/libraries/Gradle__com_android_support_cardview_v7_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_asynclayoutinflater_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_26_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_26_0_1_aar.xml
.idea/libraries/Gradle__android_arch_persistence_room_support_db_impl_1_0_0_alpha9_aar.xml
.idea/libraries/Gradle__android_arch_persistence_room_support_db_1_0_0_alpha9_aar.xml
.idea/libraries/Gradle__android_arch_persistence_room_rxjava2_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_persistence_room_rxjava2_1_0_0_alpha9_aar.xml
.idea/libraries/Gradle__android_arch_persistence_room_runtime_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_persistence_room_runtime_1_0_0_alpha9_aar.xml
.idea/libraries/Gradle__android_arch_persistence_room_migration_1_1_1_jar.xml
.idea/libraries/Gradle__android_arch_persistence_room_migration_1_0_0_alpha9_jar.xml
.idea/libraries/Gradle__android_arch_persistence_room_compiler_1_1_1_jar.xml
.idea/libraries/Gradle__android_arch_persistence_room_compiler_1_0_0_alpha9_jar.xml
.idea/libraries/Gradle__android_arch_persistence_room_common_1_1_1_jar.xml
.idea/libraries/Gradle__android_arch_persistence_room_common_1_0_0_alpha9_jar.xml
.idea/libraries/Gradle__android_arch_persistence_db_framework_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_persistence_db_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_0_0_alpha9_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_extensions_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_extensions_1_0_0_alpha9_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_compiler_1_1_1_jar.xml
.idea/libraries/Gradle__android_arch_lifecycle_compiler_1_0_0_alpha9_jar.xml
.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_1_jar.xml
.idea/libraries/Gradle__android_arch_lifecycle_common_1_0_0_alpha9_jar.xml
.idea/libraries/Gradle__android_arch_core_runtime_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_core_runtime_1_0_0_alpha9_aar.xml
.idea/libraries/Gradle__android_arch_core_common_1_1_1_jar.xml
.idea/libraries/Gradle__android_arch_core_common_1_0_0_alpha9_jar.xml
.idea/gradle.xml
.idea/caches/gradle_models.ser
.idea/caches/build_file_checksums.ser
.gradle/vcs-1/gc.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.4-rc-1/javaCompile/taskHistory.bin
.gradle/5.4-rc-1/javaCompile/javaCompile.lock
.gradle/5.4-rc-1/javaCompile/jarAnalysis.bin
.gradle/5.4-rc-1/javaCompile/classAnalysis.bin
.gradle/5.4-rc-1/gc.properties
.gradle/5.4-rc-1/fileHashes/resourceHashesCache.bin
.gradle/5.4-rc-1/fileHashes/fileHashes.lock
.gradle/5.4-rc-1/fileHashes/fileHashes.bin
.gradle/5.4-rc-1/fileContent/fileContent.lock
.gradle/5.4-rc-1/fileChanges/last-build.bin
.gradle/5.4-rc-1/executionHistory/executionHistory.lock
.gradle/5.4-rc-1/executionHistory/executionHistory.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileChanges/last-build.bin
app/app.iml
app/schemas/com.meticulous.wardrobe.data.local.OutfitDatabase/1.json
build/kotlin-build/caches/version.txt
local.properties
Wardobe-Demo-master.iml
